// Colors
$prim-c: #CF2B64;

// Base Color Palette
$color1: hsla(339%, 66%, 49%, 1); // cherry
$color2: hsla(44%, 86%, 56%, 1); // saffron (yellow)
$color3: hsla(159%, 59%, 38%, 1); // illuminating emerald (green)
$color4: hsla(175%, 55%, 50%, 1); // maximum blue green
$color5: hsla(84%, 47%, 71%, 1); // medium spring bud (light green)


// Fonts
$main-font-family: 'Open Sans', sans-serif;
$second-font-family: 'Lato', sans-serif;
