$c-name: '.c-Resource-page';

#{$c-name}__filters {
  background-color: rgba(#f3ede0, 0.9);
  border-radius: 2px;
  margin-top: 1em;
  padding: 1em 1rem;
  width: 90%;
}

#{$c-name}__resource-list {
  padding-top: 1em;
}

#{$c-name}__resource-details {
  margin: -2em -2rem 1em 0;
  padding-left: 1rem;
}
