$c-name: '.c-Details';

#{$c-name} {
  background-color: #fff;
  padding: 3em 2rem;
  position: relative;
}

#{$c-name}__title {
  color: #cf2b64;
  font-family: $second-font-family;
  font-size: 2.5rem;
}
