$c-name: '.c-Submit-resource';

#{$c-name} {
  margin: -3rem 0 5rem 0;
  @media only screen and (min-width: $bp-md) {
    margin-top: -8rem;
  }
}

$c-name: '.c-Ss-err';

#{$c-name} {
  background: desaturate(lighten($accent1-c, 40), 10);
  margin-bottom: 1em;
  padding: 1em;
}

#{$c-name}__p:last-child {
  margin-bottom: 0;
}
