$c-name: '.c-Header';

#{$c-name} {
  background-color: $text-c;
  border-bottom: 0.5em solid $light-gray;
  font-family: $second-font-family;
}

#{$c-name}__top {
  background-color: $dark-gray;
  padding: 0.5rem 0;
}

#{$c-name}__logo {
  border-bottom: 2px solid $accent1-c;
  display: inline-block;
  font-size: 1.4em;
  margin: 0;
  text-align: center;
  vertical-align: middle;

  a {
    color: $light;
    text-decoration: none;
  }
}

#{$c-name}__nav, #{$c-name}__signin {
  display: flex;
  align-items: center;
}

#{$c-name}__signin {
  justify-content: flex-end;
}

#{$c-name}__item {
  display: inline-block;
  margin-right: 1.5em;
}

#{$c-name}__link {
  color: #fff;
  text-decoration: none;
}


#{$c-name}__bg-img {
  background: url('/img/sunrise.jpg') 50% 50% no-repeat;
  background-size: cover;
  height: 10rem;
  opacity: 0.3;
}
